%div.body
  %ul.links
    %li
      %a{ :href => "/character/#{@character.id.to_s}/market_orders" } Market orders
    %li
      %a{ :href => "/character/#{@character.id.to_s}/wallet_transactions" } Wallet Transactions
    %li
      %a{ :href => "/character/#{@character.id.to_s}/wallet_trends" } Wallet Trends